<br  /><br />
<div class="row" ng-controller="barberDrinksController">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Aplicação Barber Drink</h2>
        <hr />
        <p>
          Applicação desenvolvida para obtenção de nota N2 da matéria de Inteligência Artificial da Fatec São Caetano do Sul
        </p>
        <h3>Instalação</h3>

        <ul>
          <li>
            Instalar bower - https://bower.io/#install-bower
          </li>
          <li>
            Fazer download de todas dependências <code>bower install</code>
          </li>
        </ul>
        <h3>Regras de Negócio</h3>
        <ul>
          <li>
            O usuário deve selecionar uma opção de refrigerante, entre eles "Coca" ou "Pepsi"
          </li>

          <li>
            O cálculo será feito conforme quantidades mínimas
            <ul>
              <li>
                Coca-Cola: entre 50ml e 50ml ou Pepsi-Cola: entre 60ml e 70ml
              </li>

              <li>
                Run: entre 10ml e 30ml
              </li>
              <li>
                Gelo: 20ml
              </li>
            </ul>
          </li>
          <li>
            Á partir das quantidades será calculado grau de pertiência dos ingredientes conforme expressões
          </li>
          <li>
            O valor será calculado sendo fraco R$15,00, suave R$ 20,00 e forte R$ 25,00
          </li>
        </ul>
        <button type="button" ng-click="return()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-chevron-left fa-fw" aria-hidden="true"></i> Voltar</button>
      </div>
    </div>
  </div>
  <div class="col-md-2">&nbsp;</div>
</div>
